@tailwind base;

html {
    @apply h-full;
}

a {
    @apply font-bold text-green-600;
}
a:hover {
    @apply text-green-500;
}
a:focus {
    @apply text-green-500;
}
a:active {
    @apply text-yellow-500;
}

p {
    @apply mb-3;
}

@tailwind components;

.delete {
    @apply  block text-red-600 transition ease-in-out duration-300;
    font-size: 0.75rem;
}
.delete:hover {
    @apply  text-red-500;
}

@tailwind utilities;

