@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    @apply h-full;
}

a {
    @apply font-bold text-green-600;
}
a:hover {
    @apply text-green-500;
}
a:focus {
    @apply text-green-500;
}
a:active {
    @apply text-yellow-500;
}

p {
    @apply mb-3;
}

.delete {
    @apply  block bg-red-600 px-2 py-1 rounded-full text-white;
    font-size: 0.75rem;
}
.delete:hover {
    @apply  bg-red-500;
}